.my-custom-color {
    color: #425EF1; 
  }

  .bg-gray{
    background-color: #00000011;
  }

  .color-btn{
    background-color: #425EF1;
    border:none;
    height:50px;
    color:white;
    font-size: 20px;
    font-weight: bold;
  }